.row {
  
  flex-direction: row;
  width: 640;

}

.square {
  width: 80;
  height: 80;
  background-color: aqua;
}

.centerBoard{
 width: 640;
 height: 640;
 display: flex;
 justify-content: center;
}
